/.git/
/.github/
/.vscode/
/.yarn/
/jest/
/node_modules/
/src/
/.editorconfig
/.eslintignore
/.eslintrc.cjs
/.eslintrc.json
/.gitattributes
/.gitignore
/.npmignore
/.prettierrc.json
/.tsbuildinfo
/.yarnrc.yml
/jest.config.mjs
/rollup.config.js
/tsconfig.eslint.json
/tsconfig.json
/yarn.lock
